<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Spring Security Example </title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>


<div class="container">
    <div align="center">
        <div class="row" style="margin-top:200px">
            <div class="col-sm-4"></div>
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-3 centered'">

                <form action="http://localhost:8443/SamlReceiveResponse" th:object="${loginFilter}" method="post"
                      style="align-self: auto">
                    <input type="hidden" th:name="RelayState" th:value="${RelayState}"/>
                    <input type="hidden" th:name="SAMLResponse" th:value="${SAMLResponse}"/>

                    <fieldset>
                        <h2>Tawtheeq Stub</h2>
                        <br/>

                        <div class="form-group">
                            <input placeholder="Name" type="text" name="username" id="username"
                                   class="form-control input-lg"
                                   th:field="*{username}" autofocus="true"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" id="password" name="password" placeholder="Password"
                                   th:field="*{password}" type="password"/>
                        </div>

                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="row"></div>
</div>

</body>
</html>